/* main.css */
@import "branding.css"; /* BRANDING */
@import "whatsapp-floating.css"; /* BOTON FLOTANTE DE WHATSAPP */
@import "nav.css";          /* NAV y burger */
@import "hero-alkymia.css"; /* HERO ALKYMIA */

@import "servicios-detallados.css"; /* SERVICIOS DETALLADOS */

@import "servicios-completos.css"; 

@import "garantia.css"; /* GARANTÍA */
@import "proceso-alquimico.css"; /* PROCESO */


@import "identificacion.css";

@import "filosofia.css"; /* FILOSOFÍA */
@import "casos-reales.css"; /* CASOS REALES */
@import "portfolio.css"; /* PORTFOLIO alk */

@import "para-quien-es.css"; /* PARA QUIEN ES */
@import "faqs.css"; /* FAQS */
@import "downloads.css"; /* downloads */
@import "cta-final.css"; /* CTA FINAL */
@import "footer.css";       /* FOOTER */



/* Si querés, media queries también pueden ir en cada sección, o en un archivo global responsive.css */
