<!-- sections/problematica.njk -->
<section id="problematica" class="problematica">
  <div class="container">
    <div class="problematica__header">
      <h2 class="problematica__title">{{ section_data.title }}</h2>
      <p class="problematica__subtitle">{{ section_data.subtitle }}</p>
    </div>

    <div class="problematica__grid">
      {% for problem in section_data.problems %}
      <div class="problem-card">
        <div class="problem-card__icon">{{ problem.icon }}</div>
        <h3 class="problem-card__title">{{ problem.title }}</h3>
        <p class="problem-card__desc">{{ problem.description }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="problematica__cta">
      <div class="problematica__message">
        <p class="message-text">{{ section_data.cta.text }}</p>
        <p class="message-highlight">{{ section_data.cta.highlight }}</p>
      </div>
    </div>
  </div>
</section>